.sidebar{
    background-image: linear-gradient(40deg, #2519d3,#0e515c);
    position: scroll;
    height:100%!important;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}